root={{ssmtp_root}}
mailhub={{ssmtp_mailhub}}

UseTLS=Yes
UseSTARTTLS=Yes
AuthUser={{ssmtp_auth_user}}
AuthPass={{ssmtp_auth_pass}}
rewriteDomain={{ssmtp_rewrite_domain}}
hostname={{ssmtp_hostname}}
FromLineOverride=YES