#!/bin/bash

echo "Creating mount point {{system_backup_mount_point}}"
mkdir {{system_backup_mount_point}}

echo "Mount remote share {{system_backup_remote_target_dir}}"
mount {{system_backup_remote_target_dir}} {{system_backup_mount_point}}

{% for item in system_backup_stopped_services %}
echo "Stopping {{item}}..."
systemctl stop {{item}}
{% endfor %}

{% for item in system_backup_dirs %}
echo "Backing up {{item}}..."
rsync -av --archive --relative {{item}} {{system_backup_mount_point}}
{% endfor %}

{% for item in system_backup_stopped_services %}
echo "Starting {{item}}..."
systemctl start {{item}}
{% endfor %}

echo "Unmount remote share {{system_backup_remote_target_dir}}"
umount {{system_backup_remote_target_dir}}

echo "Delete mount point {{system_backup_mount_point}}"
rm -rfv {{system_backup_mount_point}}