version: '3.8'

services:
  gitlab:
    image: gitlab/gitlab-runner:{{gitlab_runner_version}}
    restart: always
    volumes:
    - "{{gitlab_runner_config_dir}}:/etc/gitlab-runner"
    - /var/run/docker.sock:/var/run/docker.sock