version: '2.4'

services:
  phpvirtualbox:
    image: joweisberg/phpvirtualbox
    environment:
      VBOX_HOSTPORT: {{virtualbox_host}}
      VBOX_NAME: {{virtualbox_host}}
      VBOX_USER: {{virtualbox_user}}
      VBOX_PW: {{virtualbox_password}}
      CONF_browserRestrictFolders: /home"
    ports:
      - {{ports.phpvirtualbox}}:80
    restart: always
    cpus: 1.0
    mem_limit: 512m
    memswap_limit: 0