version: '3.7'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{elasticsearch_version}}
    environment:
      node.name: elasticsearch
      bootstrap.memory_lock: "true"
      ES_JAVA_OPTS: -Xms{{elasticsearch_heap_size}} -Xmx{{elasticsearch_heap_size}}
      ELASTIC_PASSWORD: {{elasticsearch_admin_password}}
    networks:
      - elastic
    ports:
      - {{elasticsearch_rest_port}}:9200
      - {{elasticsearch_nodes_port}}:9300
    restart: always
    volumes:
      - elasticsearch:/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:ro
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        soft: -1
        hard: -1

  kibana:
    image: docker.elastic.co/kibana/kibana:{{kibana_version}}
    environment:
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
      SERVER_NAME: kibana
      SERVER_HOST: 0.0.0.0
    networks:
      - elastic
    ports:
      - {{kibana_port}}:5601
    restart: always
    volumes:
      - kibana:/usr/share/kibana/data
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml:ro

networks:
  elastic:

volumes:
  elasticsearch:
  kibana: