#!/bin/bash

echo "Stopping docker daemon"
/usr/sbin/service docker stop

cd {{docker_services_root}}
/usr/bin/rsync --verbose --archive --relative --delete . {{backup_mount_point}}

echo "Starting docker daemon"
/usr/sbin/service docker start