xpack:
  security:
    authc:
      realms:
        ldap:
          ldap1:
            order: 0
            url: "ldap://{{ ldap_url }}"
            user_search:
              base_dn: "{{ ldap_base_dn }}"
              filter: "(cn={0})"
            group_search:
              base_dn: "{{ ldap_base_dn }}"
            files:
              role_mapping: "ES_PATH_CONF/role_mapping.yml"
            unmapped_groups_as_roles: false