version: '3.7'

services:
  phpvirtualbox:
    image: joweisberg/phpvirtualbox
    environment:
      VBOX_HOSTPORT: {{virtualbox_host}}
      VBOX_NAME: {{virtualbox_servername}}
      VBOX_USER: {{virtualbox_user}}
      VBOX_PW: {{virtualbox_user_password}}
      CONF_browserRestrictFolders: /home"
    ports:
      - {{php_virtualbox_port}}:80
    restart: always