[Unit]
Description=VM {{item}}
After=network.target vboxdrv.service
Before=runlevel2.target shutdown.target
 
[Service]
User={{virtualbox_user}}
Group=vboxusers
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
 
ExecStart=/usr/bin/VBoxManage startvm {{item}} --type headless
ExecStop=/usr/bin/VBoxManage controlvm {{item}} acpipowerbutton
 
[Install]
WantedBy=multi-user.target